// $introBg: "../../../../assets/img/001-flying-owl-image.jpeg";

.container {
    background: gray;
    min-width: 100vw;
    min-height: 100vh;
}

.card {
    background-color: transparent;
}

.md-form label {
    color: #ffffff;
}

