<!-- <section class="mt-lg-5"> -->
    <div class="board">
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-6">

            <!--Card-->
            <div cdkDrag class="card card-cascade cascading-admin-card">

                    <img src="../../../../../assets/img/studentID.PNG" class="img-fluid">
            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-6">

            <!--Card-->
            <div cdkDrag class="card card-cascade cascading-admin-card">

                    <img src="../../../../../assets/img/courses.PNG" class="img-fluid">
            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-6">

            <!--Card-->
            <div cdkDrag class="card card-cascade cascading-admin-card">

                    <img src="../../../../../assets/img/mentor.PNG" class="img-fluid">

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->


    </div>
    <!--Grid row-->
</div>
<!-- </section> -->