<!--Double navigation-->
<header>

  <!-- Sidebar navigation -->
  <mdb-sidenav #sidenav class=" fixed" [fixed]="true">
    <links>
      <div id="slide-out" class="side-nav sn-bg-white fixed">
        <ul class="custom-scrollbar">
          <!-- Logo -->
          <li>
            <div class="logo-wrapper black waves-light">

            </div>
          </li>
          <!--/. Logo -->

          <!-- Side navigation links -->

          <li class="border">
            <ul>
              <li mdbWavesEffect class="p-4 waves-effect d-flex justify-content-center"><img src="../../../assets/img/IDCard.png"
                  class="img-fluid">
              </li>
              <li mdbWavesEffect class="p-4 waves-effect d-flex justify-content-center"><img src="../../../assets/img/Courses (2).png"
                  class="img-fluid">
              </li>
              <li mdbWavesEffect class="p-4 waves-effect d-flex justify-content-center"><img src="../../../assets/img/PProgress.png"
                  class="img-fluid">
              </li>
              <li mdbWavesEffect class="p-4 waves-effect d-flex justify-content-center"><img src="../../../assets/img/Financial.png"
                  class="img-fluid">
              </li>
              <li mdbWavesEffect class="p-4 waves-effect d-flex justify-content-center"><img src="../../../assets/img/SuccessCenters.png"
                  class="img-fluid">
              </li>
              <li mdbWavesEffect class="p-4 waves-effect d-flex justify-content-center"><img src="../../../assets/img/SuccessCenters.png"
                  class="img-fluid">
              </li>
              <li mdbWavesEffect class="p-4 waves-effect d-flex justify-content-center"><img src="../../../assets/img/Mentor (2).png"
                  class="img-fluid">
              </li>
              <li mdbWavesEffect class="p-4 waves-effect d-flex justify-content-center"><img src="../../../assets/img/Commons.png"
                  class="img-fluid">
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </links>
  </mdb-sidenav>
  <!--Double navigation-->
  <!-- <header> -->


    <!-- Navbar -->
    <mdb-navbar SideClass="navbar navbar-expand-md scrolling-navbar double-nav" [containerInside]="false">
      <navlinks class="navbar-container">
        <!-- SideNav slide-out button -->
        <div class="float-xs-left">
          <a (click)="sidenav.show()" class="button-collapse-non-fixed">
            <mdb-icon fas icon="bars"></mdb-icon>
          </a>
        </div>
        <!--/. SideNav slide-out button -->
      </navlinks>
      <logo>
        <!-- Breadcrumb-->
        <div class="breadcrumbs breadcrumb-dn mr-auto">
          <h4><strong>KEVIN'S HOME</strong></h4>
        </div>
        <!--/. Breadcrumb-->
      </logo>
    </mdb-navbar>

  </header>
  <!--/.Double navigation-->
